on: [push, pull_request]

name: Test

jobs:
  phpstan:
    name: PHPStan
    
    runs-on: ubuntu-latest
    
    steps:
        - uses: actions/checkout@v2
    
        - name: PHPStan
          uses: docker://oskarstark/phpstan-ga
          with:
              args: analyse src/ --level=5
